.window {
    max-height: 80%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 11;
    max-width: 440px;
    background: #fff;
    left: 30%;
    top: 10%;
    border: 2px solid black;
    padding: 2px;
    transition: height,width,max-width,max-height 200ms ease;

    &.maximized{
        max-height: calc(100% - 46px);
        max-width: 100%;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;

        .container{
            max-width: 620px !important;
        }
        .info-header{
            .col-4{
                display: none !important;
            }
            .border-start{
                border: none !important;
            }
        }
    }

    &.square:not(.maximized){
        &.small{
            height: 375px;
            width: 375px;
        }
        &.slim{
            height: 375px;
            width: 320px;
        }
        &.medium{
            height: 433px;
            width: 440px;
        }
    }
    .wrapper {
        border: inherit;
        height: 100%;
    }
    .header {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: inherit;

        & * {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon {
            width: 40px;
            background: white;
        }

        .buttons {
            button {
                border: 0;
                border-left: 2px solid black;
                padding: 0 12px;
                width: 50px;
                svg{
                    max-width: 100%;
                }

                &.close{
                    &:hover{
                        background: red;
                        svg{
                            filter: invert(1);
                        }
                    }
                }
                &.minimise{
                    &:hover{
                        background: black;
                        svg{
                            filter: invert(1);
                        }
                    }
                }
            }

        }
    }
    .content{
        overflow: scroll;
        scroll-behavior: smooth;
        padding: 6px;
        padding-right: 14px;
        height: calc(100% - 30px);

        .info-header{
            h4{
                line-height: 32px;
                font-size: 33px;
            }
            img{
                height: 74px;
                width: 74px;
            }
        }



        .information_window{
            img{
                max-width: 120px;
            }
            font-size: 12px;
        }

    }





//    window specific styles

    &.welcome{
        left: calc(50% - 190px);
        top: calc(50% - 200px);
        height: 375px;
        width: 375px;
        z-index: 10;
    }

}


.draggable {
    .header {
        cursor: move;
    }
}


.buttons-folder{
    button{
        display: block;
        text-align: center;
        margin-bottom: 20px;
        border: none;
        height: 92px;
        padding: 6px;
        background: transparent;
        width: 25% !important;

        &:hover {
            background: rgba(0, 0, 0, 0.18);
        }

        img {
            display: block;
            margin: auto;
            height: 48px;
            width: 48px;
        }

        span {
            padding-top: 4px;
            display: block;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
            line-height: 16px;
            word-break: break-word;
        }
    }
}


.play-button{
    &:hover{
        circle{
            fill: black;
        }
        path{
            fill: white;
        }
    }
}


.content-borders{
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-image: url("../img/border_info_decor.png") 40 round;

}
